<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Acadmate{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Acadmate</h1>
        {% if not hide_nav %}
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('reports') }}">Issue Report</a>
            <a href="{{ url_for('discussionBoard') }}">discussionBoard</a>
        </nav>
        {% endif %}
    </header>

    <main>
        {% for message in get_flashed_messages() %}
            <div class="flash-message">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
