{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h2>Hello! You're viewing the profile of {{ current_user.name }}.</h2>
    <p>Email: {{ current_user.email }}</p>
    <p>Interest: {{ current_user.interest }}</p>
    <div>
        <p>Google Profile Picture:</p>
        <img src="{{ current_user.profile_pic }}" alt="Google profile pic">
    </div>

    {% if allow_delete %}
        <form method="POST" action="{{ url_for('update_interest') }}">
            <label for="new_interest">New Interest:</label>
            <input type="text" id="new_interest" name="new_interest" required>
            <button type="submit">Update Interest</button>
        </form>
        <h3>Teams Applied</h3>
        <ul>
            {% for team in teams_applied %}
                <li>{{ team.requestee.name }}</li>
            {% endfor %}
        </ul>
        
        <!-- Display teams_received -->
        <h3>Teams Received</h3>
        <ul>
            {% for team in teams_received %}
                <li>
                    {{ team.requester.name }}
                    <form method="POST" action="{{ url_for('confirm_team', team_id=team.id) }}">
                        <button type="submit">Confirm</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        
        <!-- Display teams_formed -->
        <h3>Teams Formed</h3>
        <ul>
            {% for team in teams_formed %}
                <li>
                    {% if team.requester.name == current_user.name %}
                        {{ team.requestee.name }}
                    {% else %}
                        {{ team.requester.name }}
                    {% endif %}
                    <form method="POST" action="{{ url_for('delete_team', team_id=team.id) }}">
                        <button type="submit">Delete</button>
                    </form>
                </li>
               
            {% endfor %}
        </ul>
        <form method="POST" action="{{ url_for('delete_profile') }}">
            <button type="submit">Delete Profile</button>
        </form>
    {% else %}
        <form method="POST" action="{{ url_for('create_team', requestee_id=current_user.id) }}">
            <button type="submit">Create Team</button>
        </form>
    {% endif %}

{% endblock %}
